@import './base.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* This makes the main content take up the remaining space */
}

.footer {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 2rem 0;
  text-align: center;
}

